---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Articulos from '../components/Articulos.astro';
import Precios from '../components/Precios.astro';
import Contactanos from '../components/Contactanos.astro'

---

<html>
	<style>
		html {
  scroll-behavior: smooth;
}
	</style>
<Layout title="Punto y Coma">
	<main>
		<Header/>
		<div class="pt-[200px] pb-[200px]  sm:px-[170px] sm:pb-[170px] flex justify-center items-center">
			<img height="700" width="700" src="public/images/coverphotp.png">
		  </div>
	</main>
	<Articulos id="articulos"/>
	<Precios id="precios"/>
	<Contactanos id="contactanos"/>
</Layout>
</html>

