
---
interface Props {
  id?: string;
}

const { id } = Astro.props;
---
<section id={id}>
<div>
    <h1 class="p-7 flex items-center justify-center bg-[#ff8fab] rounded font-bold text-white text-5xl"> Artículos</h1>
   <div class="sm:p-[30px] p-[0px]">
    <img src="src/images/Catálogo P&C Pagina 1.png">
    </div>

    <!--ARREGLAR ESTA IMAGEN, EDITAR EL LADO DERECHO MAL HECHO -->
    <div class="flex items-center  justify-center sm:p-[30px] p-[0px] sm:pb-[50px]" >
    <img  src="src/images/Bag Set Photo.jpeg">
    </div>

   <!--  <div class="flex items-center  justify-center sm:p-[30px] p-[0px]">
    <img src="src/images/Bag Set Close-Up.jpeg">
    </div>-->
    
    <h3 class="p-7 flex items-center justify-center bg-[#69a3b0] rounded font-bold text-white text-4xl">Tote Bags</h3>
    <div class="sm:p-[30px] p-[0px] sm:pb-[0px]">
        <img src="src/images/Catálogo P&C Pagina 5.png">
    </div>

    <div class="sm:p-[30px] p-[0px] sm:pb-[0px]">
        <img src="src/images/Catálogo P&C pagina 7.png">
    </div>

    <div class="sm:p-[30px] p-[0px] sm:pb-[0px]">
        <img src="src/images/Catálogo P&C pagina 7.png">
    </div>

</div>
</section>