---
interface Props {
  id?: string;
}

const { id } = Astro.props;
---
<section id="precios">
    <main class=" bg-[#69a3b0]">
        <h3 class="flex justify-center text-center font-bold text-4xl p-7 bg-[#69a3b0] text-white">Precios</h3>
        <img class=" bg-[#69a3b0]" src="public/images/preciospyc.jpeg">
    </main>
</section>

